html, body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
a {
    margin: 0;
    text-decoration: underline;
}
h1 {
    font-size: 25px;
    letter-spacing: 5px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}
h1:hover {
    cursor: pointer;
}
.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}
.float-right {
    float: right;
}
.c-white { color: #fff; }
.c-black { color: #000; }
.no-margin { margin: 5px 0; }
.hero-text {
    display: block;
    width: 80%;
    margin: auto;
}
.button {
    background: #137cb7;
    color: white;
    padding: 10px 15px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 15px 0;
}
.navbar {
    position: fixed;
    display: block;
    width: 100%;
    padding: 0px 10% 15px 10%;
    z-index: 20;
    box-shadow: inset 0px 0px 2px rgba(200,200,200,1);
    background: white;}
    .nav-logo {
        display: block;
        position: relative;
        left: 0;
        padding-top: 15px;
        width: 180px;}
        .nav-logo:hover {
            cursor: pointer;
        }
    .nav-text {
        color: #2d2d2d;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 0;
        font-size: 12px;
        font-weight: 900;
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
    }
    .navbar::after {
        content: '';
        display: table;
        clear: both;
}
.loader {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 21;
    background: white;
}
.two-way-bg {
    position: relative;
    display: block;
    width: 30%;
    height: 100%;
    background: #fff;
    
}
#main::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    position: relative;
    display: block;
    width: 180px;}
    .short-text  {
        font-size: 17px;
    }
    /* .short-text::before {
        display: block;
        content: '';
        width: 50%;
        height: 5px;
        background:rgb(19, 125, 184);;
        margin: 15px 0;
    } */
#desc { background: linear-gradient(to bottom, rgba(29, 28, 28, 0.3), rgba(29, 28, 28, 0.3)), url(b8-1-1920x1280.jpg) no-repeat center center fixed; }
#property { background: linear-gradient(to bottom, rgba(29, 28, 28, 0.3), rgba(29, 28, 28, 0.3)), url(b1-1-1920x1280.jpg) no-repeat center center fixed; }
#food { background: linear-gradient(to bottom, rgba(29, 28, 28, 0.3), rgba(29, 28, 28, 0.3)), url(b7-1920x1280.jpg) no-repeat center center fixed; }
#logistics { background: linear-gradient(to bottom, rgba(29, 28, 28, 0.3), rgba(29, 28, 28, 0.3)), url(b4-1-1920x1280.jpg) no-repeat center center fixed; }
#equipments { background: linear-gradient(to bottom, rgba(29, 28, 28, 0.3), rgba(29, 28, 28, 0.3)), url(b6-1-1920x1280.jpg) no-repeat center center fixed; }
#medical { background: linear-gradient(to bottom, rgba(29, 28, 28, 0.3), rgba(29, 28, 28, 0.3)), url(b3-1-1920x1280.jpg) no-repeat center center fixed; }
#consumer { background: linear-gradient(to bottom, rgba(29, 28, 28, 0.3), rgba(29, 28, 28, 0.3)), url(b2-1920x1280.jpg) no-repeat center center fixed; }

#main { background: linear-gradient(to bottom, rgba(29, 28, 28, 0.3), rgba(29, 28, 28, 0.3)), url(main.jpg) no-repeat center center; background-position: top; }
#laboratory { background: linear-gradient(to bottom, rgba(29, 28, 28, 0.3), rgba(29, 28, 28, 0.3)), url(b5-1920x1280.jpg) no-repeat center center fixed; }

#page {
    background: #fff;
}
#property, #food, #logistics, 
#equipments, #medical, #laboratory, 
#consumer, #main, #desc {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 

#footer, .footer {

    background: #2d2d2d;
}
.footer {
    display: block;
    position: relative;
    width: 100%;
    padding: 50px 10%;
}
.container {
    display: block;
    position: relative;
    margin: 150px auto;
    padding: 50px 0;
    width: 80%;
}
.un-bottom {
    margin-bottom: 120px;
}

.centered {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pmc-banner {
    position: relative;
    display: block;
    width: 60%;
    float: left;
    padding: 10%;
    background: rgb(211, 211, 211);
}
.pmc-banner::after {
    content: '';
    display: table;
    clear: both;
}
.pmc-two-col {
    position: relative;
    display: block;
    width: 40%;
    padding: 10%;
    float: left;
}
.pmc-two-col::after {
    content: '';
    display: table;
    clear: both;
}
.cards {
    display: block;
    margin: 25px auto;
    width: 80%;
    padding: 50px 10px;
    background: white;
    -webkit-box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.28);
    box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.28);
}
.two-column {
    float: left;
    width: 48%;
    margin: 1%;
    padding: 50px 10px;
    background: white;
    -webkit-box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.28);
    box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.28);
}

.four-column {
    float: left;
    width: 23%;
    margin: 10px 1%;
}
.footer-row {
    display: block;
    margin: auto;
    width: 80%;
}
.footer-head, .footer-text, .footer-head ~  a{
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}
.footer-head {
    font-size: 15px;
    font-weight: 900;
}
.footer-text, .footer-head ~ a{
    font-size: 12px;
    font-weight: 200;
}
.spc {
    margin: 0;
    height: 15px;
}
.circa-footer {
    position: relative;
    display: block;
    width: 160px;
    height: 160px;
    margin: 0 auto;
    margin-top: -50px;
    border-radius: 50%;
    background: inherit;
}
.circa-footer-fix {
    margin-top: -50px;
}
.footer-img {
    width: 100%;
}  

.margin-top {

    margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.header {
    margin: 15px 0 0 0;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 2px;
}
.line {
    display: block;
    width: 98%;
    height: 0.5px;
    background: #fff;
    margin: 25px auto;
}
.liner {
    padding-left: 1%;
}
.about-banner {
    width: 100%; 
    padding: 50px;
    background: #fff;}
    .about-banner-head, .about-banner-text {
        text-align: center;
        text-transform: uppercase;
        color: #2d2d2d;
        letter-spacing: 5px;
        margin: 0;}
    .about-banner-text {
        font-size: 10px;
        font-weight: 100;
    }
    .about-banner-head {
        font-size: 50px;
        font-weight: 600;
    }
.text-sm { font-size: 10px; }
.text-md { font-size: 15px; }
.text-lg { font-size: 25px; }  
.top-margin {
    margin-top: 20px;
}
.scroll-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);}
    .scroll {
        padding: 5px 15px;
        margin-bottom: 25px;}
        .scroll > i {
            color: white;
            text-transform: uppercase;
            margin: 0;
            font-size: 30px;
            letter-spacing: 2px;
        }


@media screen and (max-width: 769px) {
    #pcony {
        display: none;
    }
    .two-way-bg {
        position: relative;
        right: 0;
        display: block;
        width: 100%;
        float: none;
        height: 100%;
        background: #fff;
    }
    h1 {
        text-align: left;
    }
    #pp-nav li .active span,
    .pp-slidesNav .active span {
        background: rgb(168, 167, 167);
        top: 5px;
        left: 20px;
        width: 10px;
        height: 10px;
    }
    #pp-nav span,
    .pp-slidesNav span {
        top: 5px;
        left: 20px;
        width: 10px;
        height: 10px;
        border: 1px solid #fff;
        background: rgba(252, 252, 252, 1);
        border-radius: 50%;
        position: absolute;
        z-index: 1;
    }
    .two-column, .four-column, .pmc-banner, .pmc-two-col {
        width: 100%;
    }
    .pmc-banner {
        padding: 100px 10%;
    }
    .pp-tooltip, #pp-nav {
        display: none !important;
    }
    .cards {
        width: 95%;
    }
    .contact {
        width: 80%;
        margin: auto;
    }
  }